# Игнорируем файлы с реальными паролями
.env
config.json

# Игнорируем логи и временные батники
vpn.log
_routes.bat
.dns_iface

# Игнорируем папки сборки и тяжелые архивы
dist/
build/
*.7z

# Кэш Python
__pycache__/